node_modules
# Keep environment variables out of version control
.env

/app/generated/prisma
.vercel
# Environment variables
.env*
!.env.example

# Next.js build output
.next/
out/

# TypeScript build info
*.tsbuildinfo
next-env.d.ts
